build/
out/
dist/
bin/
gen/
captures/
classes/
release/
projectFilesBackup/
project.properties
.DS_Store
.idea
*.iml
*.iws
*.swp
.cxx
.gradle
.externalNativeBuild
local.properties
release.jks
release.jks.b64
